<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TempFilePath" value="F:\TempFile" />
    <add key="TempFileEnable" value="TRUE" />
    <add key="PowerFilePath" value="F:\Power" />
    <add key="PowerFileEnable" value="TRUE" />
    <add key="PowerSouceName" value="COM1" />
    <add key="TempSouceName" value="COM2" />
    <add key="TempSensor1Add" value="1" />
    <add key="TempSensor2Add" value="2" />
    <add key="TempSensor3Add" value="3" />
    <add key="PCBboardAdd" value="COM1" />
  </appSettings>
</configuration>
